<!-- starter html code -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a99cf39868.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <title>Team Profile Generator</title>
</head>
<body>
    <header>
        <h1>The Employee Company | Team Profiles</h1>
    </header>
    <main>
        <!-- the below will be replaced with the info added to template literals in the htmlGnerator.js file -->
        <div id="employee-page">
            <!--managerInfo-->
            <!--engineerInfo-->
            <!--internInfo-->
        </div>
    </main>
    <footer class="footer">
        <div class="container">
          <h3 id="sign-off">&hearts; Handmade by SLG | 2022 &hearts;</h3>
        </div>
        
      </footer>
</body>
</html>
